.view {
  width: 100%;
  height: 100%;
  /* 版权 */
}
@media screen and (min-width: 768px) {
  .view {
    /* 公共样式 */
  }
  .view .w {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .view h3 {
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin-left: 16px;
    margin-top: 28px;
    position: relative;
    color: #1e1e1e;
  }
  .view h3::after {
    content: '';
    width: 84px;
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 10;
  }
  .view .xiushi {
    float: left;
    padding-top: 15px;
  }
  .view .line {
    width: 100%;
    position: absolute;
    top: 81px;
    left: 22px;
    border: 1px solid #ddd;
  }
}
.view input::-webkit-outer-spin-button,
.view input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.view input[type="number"] {
  -moz-appearance: textfield;
}
.view input,
.view textarea {
  border: 1px solid #ddd;
  background-color: transparent;
}
.view .pc {
  /* 业务合作 */
}
.view .pc .laika_business {
  width: 100%;
}
.view .pc .laika_business .business_center {
  position: relative;
  height: 550px;
}
.view .pc .laika_business .business_center .business_content {
  height: 274px;
  background-image: url('../images/pc/业务合作背景.png');
  min-width: 840px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 使用css3的transform来实现 */
}
.view .pc .laika_business .business_center .business_content .title {
  font-size: 20px;
  color: #f98700;
  position: absolute;
  top: -55px;
}
.view .pc .laika_business .business_center .business_content .my_submit {
  padding: 30px 55px;
}
.view .pc .laika_business .business_center .business_content .my_submit div {
  font-size: 22px;
}
.view .pc .laika_business .business_center .business_content .my_submit span {
  color: #6f6f6f;
}
.view .pc .laika_business .business_center .business_content .my_submit .top {
  height: 20px;
}
.view .pc .laika_business .business_center .business_content .my_submit .top .left {
  float: left;
}
.view .pc .laika_business .business_center .business_content .my_submit .top .right {
  float: right;
}
.view .pc .laika_business .business_center .business_content .my_submit .top div {
  font-size: 22px;
}
.view .pc .laika_business .business_center .business_content .my_submit .top div span {
  margin-right: 10px;
}
.view .pc .laika_business .business_center .business_content .my_submit .center {
  margin-top: 30px;
  position: relative;
}
.view .pc .laika_business .business_center .business_content .my_submit .center .biezhu {
  position: absolute;
  top: 0;
}
.view .pc .laika_business .business_center .business_content .my_submit .center .text {
  margin-left: 60px;
  width: 670px;
  height: 100px;
  resize: none;
}
.view .pc .laika_business .business_center .business_content .my_submit .my_bottom {
  width: 370px;
  height: 56px;
  background-color: #fb8109;
  color: #fff;
  text-align: center;
  line-height: 56px;
  margin: 0 auto;
  margin-top: 10px;
}
.view .copyright {
  width: 100%;
  height: 80px;
  background-color: #121314;
  font-size: 22px;
  color: #999;
  text-align: center;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  .view {
    width: 100%;
    height: 100%;
    /* 公共样式 */
    /* 版权 */
  }
  .view .w {
    width: 100%;
  }
  .view h3 {
    font-size: 18px;
    font-weight: 700;
    margin-left: 16px;
    margin-top: 28px;
    position: relative;
  }
  .view h3::after {
    content: '';
    width: 45px;
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 10;
  }
  .view .line {
    width: 89%;
    position: absolute;
    top: 62px;
    left: 21px;
    border: 1px solid #f2f2f2;
  }
  .view .web {
    /* 业务合作 */
  }
  .view .web .laika_business {
    width: 100%;
  }
  .view .web .laika_business .line {
    top: 28px;
  }
  .view .web .laika_business .business_center {
    position: relative;
  }
  .view .web .laika_business .business_center .title {
    font-size: 15px;
    color: #f98700;
    padding: .3rem .3rem;
  }
  .view .web .laika_business .business_center .business_content {
    background-image: url('../images/web/业务合作.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 6.3rem;
    height: 3.16rem;
    margin: 0 auto;
  }
  .view .web .laika_business .business_center .business_content .my_submit {
    padding: .3rem .4rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit div {
    font-size: .2rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit span {
    color: #6f6f6f;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top {
    height: .4rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top input {
    width: 2rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top .left {
    float: left;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top .right {
    float: right;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top div {
    font-size: .2rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit .top div span {
    margin-right: .1rem;
  }
  .view .web .laika_business .business_center .business_content .my_submit .center {
    margin-top: .3rem;
    position: relative;
  }
  .view .web .laika_business .business_center .business_content .my_submit .center .biezhu {
    position: absolute;
    top: 0;
  }
  .view .web .laika_business .business_center .business_content .my_submit .center .text {
    margin-left: .6rem;
    width: 4.9rem;
    height: 1rem;
    resize: none;
  }
  .view .web .laika_business .business_center .business_content .my_submit .my_bottom {
    width: 4.16rem;
    height: .6rem;
    background-color: #fb8109;
    color: #fff;
    text-align: center;
    line-height: .56rem;
    margin: 0 auto;
    margin-top: .1rem;
    margin-left: .99rem;
  }
  .view .copyright {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
  }
}
